@media only screen and (min-width: 374px) and (max-width: 376px) and (min-height: 666px) and (max-height: 668px) { /*iPhone 6/7/8*/

																				/*navbar.css*/
/*Some static navbar CSS are in static.css*/
li a.navbar {
	font-size: 22.5px;
	/*1st number is the height of the navbar, 2nd number is the spacing between words*/
	padding: 4px 10px;
}
ul.bar {
	padding: 10px;
}
																						/*design.css*/
:root {
	/*Top*/
	--format: 480px; /*Variable for top: 465px;, for D, H, M and S*/
	--timer: 375px; /*Variable for top: 370px;, for the timer*/
	--C: 385px; /*Variable for top: 380px;, for DC, HC, and HC*/
	--OI: 310px; /*Variable for the top of the text Opening In*/
	/*Top End*/
	/*Font Size*/
	--Timer:57px;
	--DHMS: 14px;
	--DHMSC: 47px;
	/*End of Font Size*/
	--skilla: 41px;
}
/*Makes page 2times longer*/
body {
	background: linear-gradient(169deg, rgba(0,0,0,1) 0%, rgba(41,41,187,1) 100%);
	text-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.ttri {
	bottom:0%; /*Ensures that it doesn't below above the homepage*/
	position: absolute;
	border-left: 160px solid #162129;
	border-right: 100px solid #162129;
	border-top: 260px solid transparent;
	border-bottom: 100px solid #162129;
	width: 50%;
	z-index: -10;
}
/*Language Hover Text*/
.invistt {
	width: 140px;
	border-radius: 40px;
	top: 45%;
	margin-left: -80px;
    opacity: 0.7;
}

.htmla{
	height:var(--skilla);
	top: 20%;
	left: 1%;
	animation: htmla 15s 999;
}

@keyframes htmla {
	0% {top: 20%;}
	25%{left: 55%;}
	40%{top:40%; left: 30%}
	50% {top: 40%; left: 80%;}
	75% {top:80%; left: 83%;}
	90%{top: 40%; left: 40%;}
	100% { top: 20%; left:1%;}
}
.cssa{
	height:var(--skilla);
	top: 80%;
	right:1%;
	animation: cssa 15s 999;
}

@keyframes cssa {
	0% {top: 80%;}
	25%{right: 55%;}
	40%{top:72.5%; right: 30%}
	50% {top: 40%; right: 70%;}
	75% {top:80%; right: 85%;}
	90%{top: 40%; right: 40%;}
	100% { top: 80%; right:1%;}
}
.pythona{
	height:var(--skilla);
	top: 80%;
	animation: pythona 15s 999;
	left:1%;
}

@keyframes pythona {
	0% {top: 80%;}
	25%{left: 36%;}
	40%{top:40%; left: 10%}
	50% {top: 45%; left: 69%;}
	75% {top:25%; left: 87%;}
	90%{top: 70%; left: 52%;}
	100% { top: 80%; left:1%;}
}
.jsa{
	height:var(--skilla);
	top: 20%;
	animation: jsa 15s 999;
	right:1%;
}

@keyframes jsa {
	0% {top: 20%;}
	25%{right: 34%;}
	40%{top:72.5%; right: 10%}
	50% {top: 45%; right: 80%;}
	75% {top:25%; right: 84%;}
	90%{top: 70%; right: 49%;}
	100% { top: 20%; right:1%;}
}
.logo {
	width: 240px; 
	z-index:5px;
	top: 95px;
	left: 5%;
	animation: logo 3s;
}
@keyframes logo {
	0% {top: -1105px;}
	100% {top: 95px;}
}
/*Image of me on the homepage*/
.bg {
	width: 65%;
	top: 19.5%;
	left:18%;
	/*1st number is the shadow on the right, 2nd number is the bottom shadow, and 3rd number is the opacity of the shadow*/
	box-shadow: -40px 30px 10px rgba(0,0,0,.5);
	animation: bg 3s;
}
@keyframes bg {
	0% {left: -500%;}
	25%{left: -250%;}
	100% {left:18%;}
}
	/*Timer with the element p*/
p.t {
	top: 185px;
	font-size: 50px;
	center: 50%;
	left: 0%;
}
.intro{
	top: 525px;
	font-size: 17px;
	color: white;
	left:0%;
	animation: intro 9s 999;
	text-shadow: -30px 15px 10px rgba(0,0,0,.5);
}
@keyframes intro {
	0% {text-align:left;top: 300px; left: 0%;}
	25%{text-align:left; top: 490px; left: 25%;}
	50% {text-align:left;top: 500px; left: 0%;}
	75% {text-align:left; top: 520px; left: 40%;}
	100% {top: 525px; left:0%;}
}
.Oval {
  top: 620px;
  font-size: 17px;
  left: 35%;
  width: 120px;
  border-radius: 40px;
  animation: oval 9s 999;
}
.iwb {
	width: 120px;
	border-radius: 40px;
	top: -120%;
	margin-left: -110px;
	opacity: 1;
}
@keyframes oval {
	0% {top: 30%; 	background-color:#162129;left: -10%;}
	25%{top: 44%; 	background-color:#162129;left: 40%;}
	50% {top: 13%; 	background-color:#162129;left: 67.5%;}
	75% {top: 77.5%; 	background-color:#162129;left: 7.5%;}
	90% {text-align: center; top: 620px; left: 35%;}
	100% {text-align: center;  top: 620px; background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(22,33,41,1) 82%);left: 35%;}
}
.Oval:hover:after {
	center: 100%;
	top:0;
	left:0;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	border-radius: 40px;
}
#OI { /*"Site Update In" (Originally "Opening In") text*/
	top: var(--OI);
	font-size: 51.5px;
	left:2.5%;
}
/*Timer for Days*/
#DTimer {
	top: var(--timer);
	right:270px;
	font-size:  var(--Timer);
}
/*Format for Days*/
#D {
	top: var(--format);
	right:270px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Hours*/
#HTimer {
	top: var(--timer);
	right:85px;
	font-size:  var(--Timer);
}
/*Format for Hours*/
#H {
	top: var(--format);
	right:85px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Minutes*/
#MTimer {
	top: var(--timer);
	right :-100px;
	font-size:  var(--Timer);
}
/*Format for Minutes*/
#M {
	top: var(--format);
	right :-100px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Seconds*/
#STimer {
	top: var(--timer);
	right:-285px;
	font-size:  var(--Timer);
}
/*Format for Seconds*/
#S {
	top: var(--format);
	right:-285px;
	font-size:  var(--DHMS);
}
/*Start of the : between time*/
#DC {
	top: var(--C);
	right:170px;
	font-size:  var(--DHMSC);
}
#HC {
	top: var(--C);
	right:-5px;
	font-size:  var(--DHMSC);
}
#MC {
	top: var(--C);
	right:-210px;
	font-size:  var(--DHMSC);
}
#Stand { /*Please stand by end text*/
	position: absolute;
	display:inline;
	top: 360px;
	right:0%;
	font-size: 44px;
	color: white;
	z-index: 4;
}
#dot1 {
	top: 465px;
	font-size: 50px;
	center: 50%;
	right: 24%;
	animation: dot1 1.2s 999;
}
@keyframes dot1 {
	0%{top: 465px;}
	33%{top: 455px;}
	99{top: 460px;}
}
#dot2 {
	top: 465px;
	font-size: 50px;
	center: 50%;
	right: 20%;
	animation: dot2 1.2s 999;
}
@keyframes dot2 {
	33%{top: 465px;}
	66%{top: 455px;}
	99{	top: 460px;}
}
#dot3 {
	top: 455px;
	font-size: 50px;
	color: white;
	center: 50%;
	right: 16%;
	animation: dot3 1.2s 999;
}
@keyframes dot3 {
	0%{top: 455px;}
	33%{top: 465px;}
	99{top: 455px;}
}
/*End*/
							/*Bottompage.css*/
:root {
	--vamt:-630px; /*Vertical About Me Text, paste this... var(--vamt);  */
}
#bp {
	position: absolute;
	bottom: 20px;
}
/*About me heading*/
h1.ab {
	position:relative;
	font-size: 35px;
	bottom: var(--vamt);
	left:20px;
}
/*About me text*/
p.amt {
	bottom: var(--vamt);
	font-size: 17.5px;
	animation: amtslide 4s 1;
	left: 25px;
}
/*Bottom rectangle*/
.bsri {
	top:197.5%; /*Ensures that it doesn't go above the homepage*/
	position: absolute;
	border-top: 170px solid #162129;
	border-bottom: 0px solid #162129;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	width: 100%;
	z-index: -100;
}
/*triangle*/
.btri {
	top:99.9%; /*Ensures that it doesn't go above the homepage*/
	border-top: 459px solid #162129;
	border-bottom: 407px solid #162129;
	border-left: 0px solid transparent;
	border-right: 250px solid transparent;
	width: 55%;
}
.rbtri { /*right triangle*/
	border-top: 0px solid #162129;
	border-bottom: 0px solid #162129;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	width: 0%;
	right:0%;
}
/*The left section of the about me page*/
section.left {
	bottom: -100%;
	border-top: 500px solid transparent;
	border-bottom: 500px solid transparent;
	border-left: 0px solid transparent;
	border-right: 100px solid transparent;
	width: 50%;
}
/*about me image*/
.profile {
	bottom: -50%;
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: 135px 150px; 	/*position with the x/y cordinates, 50% 50% is the default value*/
}
h2.HAI{ /*Hobbies and Interests*/
	position:relative;
	bottom: var(--vamt);
	left: 20px;
	font-size: 35px;
	color:white;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}
.Hobbies {
	bottom: var(--vamt);
	font-size: 17.5px;
	animation: amtslide 4s 1;
	left: 25px;
}
/*Animation for About me start*/
@keyframes amtslide {
	0% {text-align:left; left:-1500px;}
	25%{text-align:left; left:-1000px;}
	50% {text-align:left; left:-500px;}
	100% {bottom: var(--vamt); left: 25px;}
}
/*End*/
	}
	
@media only screen and (min-width: 413px) and (max-width: 415px) and (min-height: 735px) and (max-height: 737px) { /*iPhone 6/7/8 plus*/
		/*navbar.css*/
/*Some static navbar CSS are in static.css*/
li a.navbar {
	font-size: 23px;
	/*1st number is the height of the navbar, 2nd number is the spacing between words*/
	padding: 4px 13px;
}
ul.bar {
	padding: 10px;
}
																						/*design.css*/
:root {
	/*Top*/
	--format: 510px; /*Variable for top: 465px;, for D, H, M and S*/
	--timer: 405px; /*Variable for top: 370px;, for the timer*/
	--C: 415px; /*Variable for top: 380px;, for DC, HC, and HC*/
	--OI: 340px; /*Variable for the top of the text Opening In*/
	/*Top End*/
	/*Font Size*/
	--Timer:65px;
	--DHMS: 22px;
	--DHMSC: 55px;
	/*End of Font Size*/
	--skilla: 45px; /*Size of language icons*/
}
body {
	background: linear-gradient(169deg, rgba(0,0,0,1) 0%, rgba(41,41,187,1) 100%);
	text-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.ttri {
	bottom:0%; /*Ensures that it doesn't below above the homepage*/
	position: absolute;
	border-left: 160px solid #162129;
	border-right: 100px solid #162129;
	border-top: 260px solid transparent;
	border-bottom: 100px solid #162129;
	width: 50%;
	z-index: -10;
}
/*Language Hover Text*/
.invistt {
	width: 140px;
	border-radius: 40px;
	top: 45%;
	margin-left: -80px;
    opacity: 0.7;
}

.htmla{
	height:var(--skilla);
	top: 20%;
	left: 1%;
	animation: htmla 15s 999;
}

@keyframes htmla {
	0% {top: 20%;}
	25%{left: 55%;}
	40%{top:40%; left: 30%}
	50% {top: 40%; left: 80%;}
	75% {top:80%; left: 83%;}
	90%{top: 40%; left: 40%;}
	100% { top: 20%; left:1%;}
}
.cssa{
	height:var(--skilla);
	top: 80%;
	right:1%;
	animation: cssa 15s 999;
}

@keyframes cssa {
	0% {top: 80%;}
	25%{right: 55%;}
	40%{top:72.5%; right: 30%}
	50% {top: 40%; right: 70%;}
	75% {top:80%; right: 85%;}
	90%{top: 40%; right: 40%;}
	100% { top: 80%; right:1%;}
}
.pythona{
	height:var(--skilla);
	top: 80%;
	animation: pythona 15s 999;
	left:1%;
}

@keyframes pythona {
	0% {top: 80%;}
	25%{left: 36%;}
	40%{top:40%; left: 10%}
	50% {top: 45%; left: 69%;}
	75% {top:25%; left: 87%;}
	90%{top: 70%; left: 52%;}
	100% { top: 80%; left:1%;}
}
.jsa{
	height:var(--skilla);
	top: 20%;
	animation: jsa 15s 999;
	right:1%;
}

@keyframes jsa {
	0% {top: 20%;}
	25%{right: 34%;}
	40%{top:72.5%; right: 10%}
	50% {top: 45%; right: 80%;}
	75% {top:25%; right: 84%;}
	90%{top: 70%; right: 49%;}
	100% { top: 20%; right:1%;}
}
.logo {
	width: 240px; 
	z-index:5px;
	top: 95px;
	left: 5%;
	animation: logo 3s;
}
@keyframes logo {
	0% {top: -1105px;}
	100% {top: 95px;}
}
/*Image of me on the homepage*/
.bg {
	width: 66%;
	top: 19.5%;
	left:18%;
	/*1st number is the shadow on the right, 2nd number is the bottom shadow, and 3rd number is the opacity of the shadow*/
	box-shadow: -40px 30px 10px rgba(0,0,0,.5);
	animation: bg 3s;
}
@keyframes bg {
	0% {left: -500%;}
	25%{left: -250%;}
	100% {left:18%;}
}
	/*Timer with the element p*/
p.t {
	top: 185px;
	font-size: 50px;
	center: 50%;
	left: 0%;
}
.intro{
	top: 585px;
	font-size: 18px;
	color: white;
	left:0%;
	animation: intro 9s 999;
	text-shadow: -30px 15px 10px rgba(0,0,0,.5);
}
@keyframes intro {
	0% {text-align:left;top: 300px; left: 0%;}
	25%{text-align:left; top: 550px; left: 25%;}
	50% {text-align:left;top: 540px; left: 0%;}
	75% {text-align:left; top: 540px; left: 50%;}
	100% {top: 585px; left:0%;}
}
.Oval {
  top: 690px;
  font-size: 17px;
  left: 35%;
  width: 120px;
  border-radius: 40px;
  animation: oval 9s 999;
}
.iwb {
	width: 120px;
	border-radius: 40px;
	top: -120%;
	margin-left: -110px;
	opacity: 1;
}
@keyframes oval {
	0% {top: 30%; 	background-color:#162129;left: -10%;}
	25%{top: 44%; 	background-color:#162129;left: 40%;}
	50% {top: 13%; 	background-color:#162129;left: 67.5%;}
	75% {top: 77.5%; 	background-color:#162129;left: 7.5%;}
	90% {text-align: center; top: 690px; left: 35%;}
	100% {text-align: center;  top: 690px; background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(22,33,41,1) 82%);left: 35%;}
}
.Oval:hover:after {
	center: 100%;
	top:0;
	left:0;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	border-radius: 40px;
}
#OI { /*"Site Update In" (Originally "Opening In") text*/
	top: var(--OI);
	font-size: 51.5px;
	left:8%;
}
/*Timer for Days*/
#DTimer {
	top: var(--timer);
	right:255px;
	font-size:  var(--Timer);
}
/*Format for Days*/
#D {
	top: var(--format);
	right:255px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Hours*/
#HTimer {
	top: var(--timer);
	right:70px;
	font-size:  var(--Timer);
}
/*Format for Hours*/
#H {
	top: var(--format);
	right:70px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Minutes*/
#MTimer {
	top: var(--timer);
	right :-115px;
	font-size:  var(--Timer);
}
/*Format for Minutes*/
#M {
	top: var(--format);
	right :-115px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Seconds*/
#STimer {
	top: var(--timer);
	right:-300px;
	font-size:  var(--Timer);
}
/*Format for Seconds*/
#S {
	top: var(--format);
	right:-300px;
	font-size:  var(--DHMS);
}
/*Start of the : between time*/
#DC {
	top: var(--C);
	right:155px;
	font-size:  var(--DHMSC);
}
#HC {
	top: var(--C);
	right:-20px;
	font-size:  var(--DHMSC);
}
#MC {
	top: var(--C);
	right:-225px;
	font-size:  var(--DHMSC);
}
#Stand { /*Please stand by end text*/
	position: absolute;
	display:inline;
	top: 390px;
	right:0%;
	font-size: 50px;
	color: white;
	z-index: 4;
}
#dot1 {
	top: 510px;
	font-size: 50px;
	center: 50%;
	right: 23%;
	animation: dot1 1.2s 999;
}
@keyframes dot1 {
	0%{top: 510px;}
	33%{top: 500px;}
	99{top: 505px;}
}
#dot2 {
	top: 510px;
	font-size: 50px;
	center: 50%;
	right: 19%;
	animation: dot2 1.2s 999;
}
@keyframes dot2 {
	33%{top: 510px;}
	66%{top: 500px;}
	99{	top: 505px;}
}
#dot3 {
	top: 500px;
	font-size: 50px;
	color: white;
	center: 50%;
	right: 15%;
	animation: dot3 1.2s 999;
}
@keyframes dot3 {
	0%{top: 500px;}
	33%{top: 510px;}
	99{top: 500px;}
}
/*End*/
							/*Bottompage.css*/
:root {
	--vamt:-500px; /*Vertical About Me Text, paste this... var(--vamt);  */
}
#bp {
	position: absolute;
	bottom: 30px;
}
/*About me heading*/
h1.ab {
	position:relative;
	font-size: 40px;
	bottom: var(--vamt);
	left:20px;
}
/*About me text*/
p.amt {
	bottom: var(--vamt);
	font-size: 18px;
	animation: amtslide 4s 1;
	left: 25px;
}
/*Bottom rectangle*/
.bsri {
	top:180.5%; /*Ensures that it doesn't go above the homepage*/
	position: absolute;
	border-top: 130px solid #162129;
	border-bottom: 15px solid #162129;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	width: 100%;
	z-index: -100;
}
/*triangle*/
.btri {
	top:99.9%; /*Ensures that it doesn't go above the homepage*/
	border-top: 430px solid #162129;
	border-bottom: 297px solid #162129;
	border-left: 0px solid transparent;
	border-right: 250px solid transparent;
	width: 55%;
}
.rbtri { /*right triangle*/
	border-top: 0px solid #162129;
	border-bottom: 0px solid #162129;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	width: 0%;
	right:0%;
}
/*The left section of the about me page*/
section.left {
	bottom: -100%;
	border-top: 500px solid transparent;
	border-bottom: 500px solid transparent;
	border-left: 0px solid transparent;
	border-right: 100px solid transparent;
	width: 50%;
}
/*about me image*/
.profile {
	bottom: -50%;
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: 135px 50px; 	/*position with the x/y cordinates, 50% 50% is the default value*/
}
h2.HAI{ /*Hobbies and Interests*/
	position:relative;
	bottom: var(--vamt);
	left: 20px;
	font-size: 40px;
	color:white;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}
.Hobbies {
	bottom: var(--vamt);
	font-size: 18px;
	animation: amtslide 4s 1;
	left: 25px;
}
/*Animation for About me start*/
@keyframes amtslide {
	0% {text-align:left; left:-1500px;}
	25%{text-align:left; left:-1000px;}
	50% {text-align:left; left:-500px;}
	100% {bottom: var(--vamt); left: 25px;}
}
/*End*/
	}	
	
@media only screen and (min-width: 374px) and (max-width: 376px) and (min-height: 811px) and (max-height: 813px) { /*iPhone X and XS*/

																				/*navbar.css*/
/*Some static navbar CSS are in static.css*/
li a.navbar {
	font-size: 22.5px;
	/*1st number is the height of the navbar, 2nd number is the spacing between words*/
	padding: 4px 10px;
}
ul.bar {
	padding: 10px;
}
																						/*design.css*/
:root {
	/*Top*/
	--format: 510px; /*Variable for top: 465px;, for D, H, M and S*/
	--timer: 405px; /*Variable for top: 370px;, for the timer*/
	--C: 415px; /*Variable for top: 380px;, for DC, HC, and HC*/
	--OI: 340px; /*Variable for the top of the text Opening In*/
	/*Top End*/
	/*Font Size*/
	--Timer:57px;
	--DHMS: 14px;
	--DHMSC: 47px;
	/*End of Font Size*/
	--skilla: 50px;
}
/*Makes page 2times longer*/
body {
	background: linear-gradient(169deg, rgba(0,0,0,1) 0%, rgba(41,41,187,1) 100%);
	text-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.ttri {
	bottom:0%; /*Ensures that it doesn't below above the homepage*/
	position: absolute;
	border-left: 130px solid #162129;
	border-right: 120px solid #162129;
	border-top: 250px solid transparent;
	border-bottom: 100px solid #162129;
	width: 50%;
	z-index: -10;
}
/*Language Hover Text*/
.invistt {
	width: 140px;
	border-radius: 40px;
	top: 45%;
	margin-left: -80px;
    opacity: 0.7;
}

.htmla{
	height:var(--skilla);
	top: 20%;
	left: 1%;
	animation: htmla 15s 999;
}

@keyframes htmla {
	0% {top: 20%;}
	25%{left: 55%;}
	40%{top:35%; left: 22.5%}
	50% {top: 40%; left: 85%;}
	75% {top:80%; left: 83%;}
	90%{top: 30%; left: 90%;}
	100% { top: 20%; left:1%;}
}
.cssa{
	height:var(--skilla);
	top: 80%;
	right:1%;
	animation: cssa 15s 999;
}

@keyframes cssa {
	0% {top: 80%;}
	25%{right: 55%;}
	40%{top:72.5%; right: 15%}
	50% {top: 40%; right: 70%;}
	75% {top:80%; right: 85%;}
	90%{top: 30%; right: 90%;}
	100% { top: 80%; right:1%;}
}
.pythona{
	height:var(--skilla);
	top: 80%;
	animation: pythona 15s 999;
	left:1%;
}

@keyframes pythona {
	0% {top: 80%;}
	25%{left: 36%;}
	40%{top:35%; left: 5%}
	50% {top: 40%; left: 70%;}
	75% {top:22.5%; left: 85%;}
	90%{top: 65%; left: 1%;}
	100% { top: 80%; left:1%;}
}
.jsa{
	height:var(--skilla);
	top: 20%;
	animation: jsa 15s 999;
	right:1%;
}

@keyframes jsa {
	0% {top: 20%;}
	25%{right: 34%;}
	40%{top:72.5%; right: 2.5%}
	50% {top: 40%; right: 80%;}
	75% {top:22.5%; right: 84%;}
	90%{top: 65%; right: 1%;}
	100% { top: 20%; right:1%;}
}
.logo {
	width: 250px; 
	z-index:5px;
	top: 100px;
	left: 5%;
	animation: logo 3s;
}
@keyframes logo {
	0% {top: -1105px;}
	100% {top: 100px;}
}
/*Image of me on the homepage*/
.bg {
	width: 68%;
	top: 19.5%;
	left:18%;
	/*1st number is the shadow on the right, 2nd number is the bottom shadow, and 3rd number is the opacity of the shadow*/
	box-shadow: -50px 25px 10px rgba(0,0,0,.5);
	animation: bg 3s;
}
@keyframes bg {
	0% {left: -500%;}
	25%{left: -250%;}
	100% {left:18%;}
}
	/*Timer with the element p*/
p.t {
	top: 185px;
	font-size: 50px;
	center: 50%;
	left: 0%;
}
.intro{
	top: 595px;
	font-size: 20px;
	color: white;
	left:0%;
	animation: intro 9s 999;
	text-shadow: -30px 15px 10px rgba(0,0,0,.5);
}
@keyframes intro {
	0% {text-align:left;top: 300px; left: 0%;}
	25%{text-align:left; top: 520px; left: 25%;}
	50% {text-align:left;top: 570px; left: 0%;}
	75% {text-align:left; top: 585px; left: 50%;}
	100% {top: 595px; left:0%;}
}
.Oval {
  top: 720px;
  font-size: 20px;
  left: 35%;
  width: 120px;
  border-radius: 40px;
  animation: oval 9s 999;
}
.iwb {
	width: 120px;
	border-radius: 40px;
	top: -120%;
	margin-left: -120px;
	opacity: 1;
}
@keyframes oval {
	0% {top: 30%; 	background-color:#162129;left: -10%;}
	25%{top: 44%; 	background-color:#162129;left: 40%;}
	50% {top: 13%; 	background-color:#162129;left: 67.5%;}
	75% {top: 70%; 	background-color:#162129;left: 7.5%;}
	90% {text-align: center; top: 720px; left: 35%;}
	100% {text-align: center;  top: 720px; background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(22,33,41,1) 82%);left: 35%;}
}
.Oval:hover:after {
	center: 100%;
	top:0;
	left:0;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	border-radius: 40px;
}
#OI { /*"Site Update In" (Originally "Opening In") text*/
	top: var(--OI);
	font-size: 51.5px;
	left:2.5%;
}
/*Timer for Days*/
#DTimer {
	top: var(--timer);
	right:270px;
	font-size:  var(--Timer);
}
/*Format for Days*/
#D {
	top: var(--format);
	right:270px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Hours*/
#HTimer {
	top: var(--timer);
	right:85px;
	font-size:  var(--Timer);
}
/*Format for Hours*/
#H {
	top: var(--format);
	right:85px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Minutes*/
#MTimer {
	top: var(--timer);
	right :-100px;
	font-size:  var(--Timer);
}
/*Format for Minutes*/
#M {
	top: var(--format);
	right :-100px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Seconds*/
#STimer {
	top: var(--timer);
	right:-285px;
	font-size:  var(--Timer);
}
/*Format for Seconds*/
#S {
	top: var(--format);
	right:-285px;
	font-size:  var(--DHMS);
}
/*Start of the : between time*/
#DC {
	top: var(--C);
	right:170px;
	font-size:  var(--DHMSC);
}
#HC {
	top: var(--C);
	right:-5px;
	font-size:  var(--DHMSC);
}
#MC {
	top: var(--C);
	right:-210px;
	font-size:  var(--DHMSC);
}
#Stand { /*Please stand by end text*/
	position: absolute;
	display:inline;
	top: 405px;
	right:0%;
	font-size: 50px;
	color: white;
	z-index: 4;
}
#dot1 {
	top: 525px;
	font-size: 50px;
	center: 50%;
	right: 21%;
	animation: dot1 1.2s 999;
}
@keyframes dot1 {
	0%{top: 525px;}
	33%{top: 515px;}
	99{top: 520px;}
}
#dot2 {
	top: 525px;
	font-size: 50px;
	center: 50%;
	right: 17%;
	animation: dot2 1.2s 999;
}
@keyframes dot2 {
	33%{top: 525px;}
	66%{top: 515px;}
	99{	top: 520px;}
}
#dot3 {
	top: 515px;
	font-size: 50px;
	color: white;
	center: 50%;
	right: 13%;
	animation: dot3 1.2s 999;
}
@keyframes dot3 {
	0%{top: 515px;}
	33%{top: 525px;}
	99{top: 515px;}
}
/*End*/
							/*Bottompage.css*/
:root {
	--vamt:-490px; /*Vertical About Me Text, paste this... var(--vamt);  */
}
#bp {
	position: absolute;
	bottom: -20px;
}
/*About me heading*/
h1.ab {
	position:relative;
	font-size: 35px;
	bottom: var(--vamt);
	left:20px;
}
/*About me text*/
p.amt {
	bottom: var(--vamt);
	font-size: 17.5px;
	animation: amtslide 4s 1;
	left: 25px;
}
.bsri { /*Bottom rectangle*/
	top:175.5%; /*Ensures that it doesn't go above the homepage*/
	position: absolute;
	border-top: 140px solid #162129;
	border-bottom: 0px solid #162129;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	width: 100%;
	z-index: -100;
}
.btri { /*left triangle*/
	top:99.9%; /*Ensures that it doesn't go above the homepage*/
	border-top: 449px solid #162129;
	border-bottom: 380px solid #162129;
	border-left: 0px solid transparent;
	border-right: 250px solid transparent;
	width: 55%;
}
.rbtri { /*right triangle*/
	border-top: 0px solid #162129;
	border-bottom: 0px solid #162129;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	width: 0%;
	right:0%;
}
/*The left section of the about me page*/
section.left {
	bottom: -100%;
	border-top: 500px solid transparent;
	border-bottom: 500px solid transparent;
	border-left: 0px solid transparent;
	border-right: 100px solid transparent;
	width: 50%;
}
/*about me image*/
.profile {
	bottom: -50%;
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: 135px 112.5px; 	/*position with the x/y cordinates, 50% 50% is the default value*/
}
h2.HAI{ /*Hobbies and Interests*/
	position:relative;
	bottom: var(--vamt);
	left: 20px;
	font-size: 35px;
	color:white;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}
.Hobbies {
	bottom: var(--vamt);
	font-size: 17.5px;
	animation: amtslide 4s 1;
	left: 25px;
}
/*Animation for About me start*/
@keyframes amtslide {
	0% {text-align:left; left:-1500px;}
	25%{text-align:left; left:-1000px;}
	50% {text-align:left; left:-500px;}
	100% {bottom: var(--vamt); left: 25px;}
}
/*End*/
	}
		
@media only screen and (min-width: 413px) and (max-width: 415px) and (min-height: 895px) and (max-height: 897px){ /*iPhone 11 Pro Max, XR and XS Max*/

																				/*navbar.css*/
/*Some static navbar CSS are in static.css*/
li a.navbar {
	font-size: 22.5px;
	/*1st number is the height of the navbar, 2nd number is the spacing between words*/
	padding: 4px 14px;
}
ul.bar {
	padding:10px;
}
																						/*design.css*/
:root {
	/*Top*/
	--format: 535px; /*Variable for top: 465px;, for D, H, M and S*/
	--timer: 430px; /*Variable for top: 370px;, for the timer*/
	--C: 440px; /*Variable for top: 380px;, for DC, HC, and HC*/
	--OI: 350px; /*Variable for the top of the text Opening In*/
	/*Top End*/
	/*Font Size*/
	--Timer:65px;
	--DHMS: 22px;
	--DHMSC: 55px;
	/*End of Font Size*/
	--skilla: 45px;
}
/*Makes page 2times longer*/
body {
	background: linear-gradient(169deg, rgba(0,0,0,1) 0%, rgba(41,41,187,1) 100%);
	text-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.ttri {
	bottom:0%; /*Ensures that it doesn't go above the homepage*/
	position: absolute;
	border-left: 120px solid #162129;
	border-right: 230px solid #162129;
	border-top: 260px solid transparent;
	border-bottom: 100px solid #162129;
	width: 50%;
	z-index: -10;
}
/*Language Hover Text*/
.invistt {
	width: 140px;
	border-radius: 40px;
	top: 45%;
	margin-left: -80px;
    opacity: 0.7;
}

.htmla{
	height:var(--skilla);
	top: 20%;
	left: 1%;
	animation: htmla 20s 999;
}

@keyframes htmla {
	0% {top: 20%;}
	25%{left: 55%;}
	40%{top:65%; left: 30%}
	50% {top: 40%; left: 80%;}
	75% {top:80%; left: 83%;}
	90%{top: 40%; left: 40%;}
	100% { top: 20%; left:1%;}
}
.cssa{
	height:var(--skilla);
	top: 80%;
	right:1%;
	animation: cssa 20s 999;
}

@keyframes cssa {
	0% {top: 80%;}
	25%{right: 55%;}
	40%{top:70%; right: 30%}
	50% {top: 40%; right: 70%;}
	75% {top:80%; right: 85%;}
	90%{top: 40%; right: 40%;}
	100% { top: 80%; right:1%;}
}
.pythona{
	height:var(--skilla);
	top: 60%;
	animation: pythona 20s 999;
	left:1%;
}

@keyframes pythona {
	0% {top: 60%;}
	25%{left: 36%;}
	40%{top:65%; left: 18%}
	50% {top: 40%; left: 69%;}
	75% {top:20%; left: 87%;}
	90%{top: 70%; left: 52%;}
	100% { top: 60%; left:1%;}
}
.jsa{
	height:var(--skilla);
	top: 40%;
	animation: jsa 20s 999;
	right:1%;
}

@keyframes jsa {
	0% {top: 40%;}
	25%{right: 34%;}
	40%{top:70%; right: 20%}
	50% {top: 40%; right: 80%;}
	75% {top:20%; right: 84%;}
	90%{top: 70%; right: 49%;}
	100% { top: 40%; right:1%;}
}
.logo {
	width: 250px; 
	z-index:5px;
	top: 110px;
	left: 5%;
	animation: logo 3s;
}
@keyframes logo {
	0% {top: -1105px;}
	100% {top: 110px;}
}
/*Shadow Background image*/
.bg {
	width: 70%;
	top: 15.5%;
	left:17%;
	/*1st number is the shadow on the right, 2nd number is the bottom shadow, and 3rd number is the opacity of the shadow*/
	box-shadow: -80px 30px 10px rgba(0,0,0,.5);
	animation: bg 3s;
}
@keyframes bg {
	0% {left: -500%;}
	25%{left: -250%;}
	100% {left:17%;}
}
	/*Timer with the element p*/
p.t {
	top: 185px;
	font-size: 50px;
	center: 50%;
	left: 0%;
}
.intro{
	top: 729.5px;
	font-size: 20px;
	color: white;
	left:0%;
	animation: intro 9s 999;
	text-shadow: -30px 15px 10px rgba(0,0,0,.5);
}
@keyframes intro {
	0% {text-align:left;top: 400px; left: 0%;}
	25%{text-align:left; top: 620px; left: 25%;}
	50% {text-align:left;top: 650px; left: 66.5%;}
	75% {text-align:left; top: 580px; left: 60%;}
	100% { top: 729.5px; left:0%;}
}
.Oval {
  top: 790px;
  font-size: 20px;
  left: 50%;
  width: 140px;
  border-radius: 40px;
  animation: oval 9s 999;
}
.iwb {
	width: 140px;
	border-radius: 40px;
	top: -120%;
	margin-left: -130px;
	opacity: 1;
}
@keyframes oval {
	0% {top: 30%; 	background-color:#162129;left: -10%;}
	25%{top: 44%; 	background-color:#162129;left: 40%;}
	50% {top: 10%; 	background-color:#162129;left: 65%;}
	75% {top: 67.5%; 	background-color:#162129;left: 20%;}
	90% {text-align: center; top: 850px; left: 35%;}
	100% {text-align: center; top: 850px; background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(22,33,41,1) 82%);left: 35%;}
}
.Oval:hover:after {
	center: 100%;
	top:0;
	left:0;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	border-radius: 40px;
}
#OI { /*"Site Update In" (Originally "Opening In") text*/
	top: var(--OI);
	font-size: 57.5px;
	left:2.5%;
}
/*Timer for Days*/
#DTimer {
	top: var(--timer);
	right:285px;
	font-size:  var(--Timer);
}
/*Format for Days*/
#D {
	top: var(--format);
	right:285px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Hours*/
#HTimer {
	top: var(--timer);
	right:100px;
	font-size:  var(--Timer);
}
/*Format for Hours*/
#H {
	top: var(--format);
	right:100px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Minutes*/
#MTimer {
	top: var(--timer);
	right :-85px;
	font-size:  var(--Timer);
}
/*Format for Minutes*/
#M {
	top: var(--format);
	right :-85px;
	font-size:  var(--DHMS);
	center: 50%;
}
/*Timer for Seconds*/
#STimer {
	top: var(--timer);
	right:-270px;
	font-size:  var(--Timer);
}
/*Format for Seconds*/
#S {
	top: var(--format);
	right:-270px;
	font-size:  var(--DHMS);
}
/*Start of the : between time*/
#DC {
	top: var(--C);
	right:185px;
	font-size:  var(--DHMSC);
}
#HC {
	top: var(--C);
	right:10px;
	font-size:  var(--DHMSC);
}
#MC {
	top: var(--C);
	right:-195px;
	font-size:  var(--DHMSC);
}
#Stand { /*Please stand by end text*/
	position: absolute;
	display:inline;
	top: 435px;
	right:0%;
	font-size: 50px;
	color: white;
	z-index: 4;
}
#dot1 {
	top: 555px;
	font-size: 50px;
	center: 50%;
	right: 24%;
	animation: dot1 1.2s 999;
}
@keyframes dot1 {
	0%{top: 555px;}
	33%{top: 545px;}
	99{top: 555px;}
}
#dot2 {
	top: 550px;
	font-size: 50px;
	center: 50%;
	right: 21%;
	animation: dot2 1.2s 999;
}
@keyframes dot2 {
	33%{top: 555px;}
	66%{top: 545px;}
	99{	top: 550px;}
}
#dot3 {
	top: 545px;
	font-size: 50px;
	color: white;
	center: 50%;
	right: 18%;
	animation: dot3 1.2s 999;
}
@keyframes dot3 {
	0%{top: 545px;}
	33%{top: 555px;}
	99{top: 545px;}
}
/*End*/
																													/*Bottompage.css*/
:root {
	--vamt:-465px; /*Vertical About Me Text, paste this... var(--vamt);  */
}
/*About me heading*/
h1.ab {
	position:relative;
	font-size: 42.5px;
	bottom: var(--vamt);
	left:20px;
}
/*About me text*/
p.amt {
	bottom: var(--vamt);
	font-size: 16.5px;
	animation: amtslide 4s 1;
	left: 25px;
}
/*Bottom rectangle*/
.bsri {
	top:175%; /*Ensures that it doesn't go above the homepage*/
	position: absolute;
	border-top: 80px solid #162129;
	border-bottom: 70px solid #162129;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	width: 100%;
	z-index: -100;
}
/*triangle*/
.btri {
	top:99.9%; /*Ensures that it doesn't go above the homepage*/
	border-top: 489px solid #162129;
	border-bottom: 409px solid #162129;
	border-left: 0px solid transparent;
	border-right: 305px solid transparent;
	width: 50%;
}
.rbtri { /*right triangle*/
	border-top: 0px solid #162129;
	border-bottom: 0px solid #162129;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	width: 0%;
	right:0%;
}
/*The left section of the about me page*/
section.left {
	bottom: -100%;
	border-top: 500px solid transparent;
	border-bottom: 500px solid transparent;
	border-left: 0px solid transparent;
	border-right: 100px solid transparent;
	width: 50%;
}
/*about me image*/
.profile {
	bottom: -50%;
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: 135px 150px; 	/*position with the x/y cordinates, 50% 50% is the default value*/
}
h2.HAI{ /*Hobbies and Interests*/
	position:relative;
	bottom: var(--vamt);
	left: 20px;
	font-size: 40px;
	color:white;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}
.Hobbies {
	bottom: var(--vamt);
	font-size: 20px;
	animation: amtslide 4s 1;
	left: 25px;
}
/*Animation for About me start*/
@keyframes amtslide {
	0% {text-align:left; left:-1500px;}
	25%{text-align:left; left:-1000px;}
	50% {text-align:left; left:-500px;}
	100% {bottom: var(--vamt); left: 25px;}
}
/*End*/
	}